<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v3/" />
    <add key="Core Tech Nuget" value="http://artifactoryredg.gv.grassvalley.com/artifactory/api/nuget/platform-nuget-local" />
    <add key="Newbury Cloud Nuget" value="http://10.162.62.120:5000/v3/index.json" />
    <!-- <add key="Hillsboro Tech Nuget" value="http://hillsboro-baget.gvnewsdev.com/v3/index.json" /> -->
    <!-- <add key="KL Cloud Nuget" value="http://10.251.54.246:5000/v3/index.json" /> -->
  </packageSources>
</configuration>
